.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.form {
  transform: translateY(-30px);
  background-color: #8cf26d;
  border-radius: 20px;
  color: rgb(36, 26, 220);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-data {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form h1 {
  padding: 20px !important;
  padding-bottom: 40px !important;
}

.form-data input {
  padding: 2px;
  padding-left: 20px;
  width: 70%;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  height: 30px;
}

.form-data input[type="submit"] {
  font-size: 18px;
  margin-top: 20px;
  color: beige;
  background-image: linear-gradient(45deg, blue, #9b00e8) !important;
}

.form-data input[type="submit"]:hover {
  background-image: linear-gradient(45deg, #cbff5b, #2688ff) !important;
  color: #000;
}

.form-data input[type="checkbox"] {
  transform: translateY(10px) !important;
  width: 20px;
  background: none;
  box-shadow: none;
}

.form-data div {
  transform: translateY(-15px) !important;
}

.display {
  background-image: linear-gradient(
    to bottom left,
    #40ba17,
    #bab3b3
  ) !important;
  border-radius: 20px;
  color: white;
  height: 96vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding-top: 4vh;
}

.card {
  margin-left: 50px;
  padding: 5px;
  background-color: white;
  color: rgb(2, 0, 139);
  width: 290px;
  height: 230px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .App {
    display: block;
  }
}
